*::selection {
    background: rgba(100, 100, 100, 0.5);
    color: #ffffff;
}

body {
	margin: 0px;
	height: 100%;
	background-image: url(./bg_main.png);
}

@font-face {
    font-family: Logo;
    src: url(./minecraft_font_by_pwnage_block-d37t6nb.ttf);
}

header:first-of-type {
	background:#8cbeff;
	background-image: url(./180px-Sun.png), url(./bg-outside-clouds.png);
	background-position: center right, top;
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px 0;
	margin:0;
	overflow: hidden;
}

#logo {
	margin: 0px auto;
	margin-bottom: -50px;
	width: 990px;
	font-size: 30px;
	font-family: Logo;
	user-select: none;
}

#logo h1 {
	color: #222;
	text-shadow:0 0 30px #333;
}

#logo h1:before {
	content:"MC";
	color: yellow;
}

#logo h1:after {
	content: "Server";
}

nav {
	margin-top: -20px;
	margin-bottom: -5px;
	background-color:#2b2b2b;
	border-bottom:4px solid #444442;
	font-size:15px;
	height:36px;
	box-shadow:0 0 5px #666;
	border-top: 10px solid #009514;
	position: relative;
	z-index: 9999;
	user-select: none;
    display: flex;
}

#nav_holder {
	width: 1000px;
	margin: 0px auto;
	margin-top: -15px;
}

#nav_holder ul.right {
	float: right;
	margin-top: 0px;
	margin-right: 10px;
}

#nav_holder li.first {
	margin-left: -30px;
	border-left: 1px solid #333;
    box-shadow: 1px 0 #000 inset, -1px 0 #000 inset;
    text-shadow:0 0 1px #000;
}


#nav_holder li {
	list-style: none;
	float: left;
	border-right: 1px solid #333;
    box-shadow: -1px 0 #000 inset; 
    text-shadow:0 0 1px #000;
}

#nav_holder li a {
	line-height: 36px;
	text-decoration: none;
	color: #FFF;
	opacity: 0.7;
	margin-right: 20px;
	margin-left: 20px;
	transition: color .2s linear;
	font-size: 12px;
	color: yellow;
	font-family: Logo;
}
#nav_holder li a:hover {
	opacity: 0.9;
	color: #00a5f0;	
	transition: color .2s linear;
}

#nav_holder li a:active {
	opacity: 1;
	color: #000;
	width: 300px;
}

/* Now the header is done */


/* Main Content */

header:nth-of-type(2) {
	width: 960px;
    max-width: 90%;
	min-height: 105px;
	margin: 0px auto;
	padding: 10px;
	background: url(./planks.jpg);
	border: 4px solid #56472A; 
	-moz-box-shadow: -2px 2px 3px #333; 
	-webkit-box-shadow: -2px -2px 3px #333; 
	box-shadow: -2px -2px 3px #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	z-index: 9;
	position: relative;
}

.announcement {
    background: #7f9db9;
    margin: 0px auto;
    height: 50px;
    width: 1020px;
    max-width: 100%;
    position: relative;
    left: -3%;
    top: 20px;
    float: left;
    z-index: 100;
}

.announcement_block {
    background: #7f9db9;
    margin: 0px auto;
    height: 50px;
    width: 15px;
    position: relative;
    float: left;
    z-index: 100;
    display: -webkit-box;
}

.announcement ul#items {
	list-style: none;
	margin-top: 8px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.triangle-l {
	border-color: transparent #7d90a3 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -44px;
	top: 55px;
	z-index: -1;
}

.triangle-r {
	border-color: transparent transparent transparent #7d90a3;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
    left: 101.5%;
	top: 27px;
	z-index: -1; 
}

main {
	width: 950px;
	margin: 0px auto;
	margin-top: 10px;
}

aside {
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top: 2px inset black;
	border-bottom: 2px outset black;
	background-image:url(./sidebar.png);
	width: 249px;
	float: left;
}

aside h1,h2,h3,h4,h5,h6,p{
	padding-left: 20px;
	font-family: 'Sanchez', serif;
}

aside h3.address {
	margin-bottom: -10px;
}

aside div.online {
	float: right;
	margin-right: 40px;
	margin-top: -36px;;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background-color: green;
	box-shadow: 0px 0px 2px 2px green;
}

aside div.offline {
	float: right;
	margin-right: 40px;
	margin-top: -36px;;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background-color: red;
	box-shadow: 0px 0px 2px 2px red;
}

aside p.address {
	color: green;
}

article {
	background-image:url(./right_content.png);
	float: right;
	margin-top: 3px;
	margin-bottom: 30px;
	min-height: 200px;
	border: 4px solid #222;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 10px rgba(000, 0, 0, 1);
	-moz-box-shadow:    0px 0px 10px rgba(000, 0, 0, 1);
	box-shadow:         0px 0px 10px rgba(000, 0, 0, 1);
	width: 660px;
	color: #999;
}

article h1,h2,h3,h4,h5,h6,p {
	padding-left: 30px;
	margin-right: 30px;
}

#livelog {
	overflow: auto;
    color: #fff;
    font-family: Source Code Pro, Consolas, Inconsolata-g, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #272822;
    border: solid 0.5px #272822;
    border-radius: 1px;
    display: block;
	max-height: 35vh;
    padding: 5px 5px 5px 5px;
}

article h1 {
	color: #999;
	text-shadow: 1px 1px 1px #000;
	width: 300px;
	margin-top: 0px;
	background-color: #222;
	border-bottom-right-radius: 10px;
}

footer {
	text-align: Center;
	font-size: x-small;
}

#console input[type=text] {
    width: 493px;
    margin-left: 25px;
    font-size: 16px;
    padding: 10px 5px 10px 5px;
    border-top: 2px solid #444442;
    border-bottom: 2px solid #444442;
    border-left: 2px solid #444442;
    border-right: none;
}

#console input[type=submit] {
    width: 80px;
    float: right;
    margin: 0;
    margin-right: 50px;
}

input:focus {
    outline-color: #666;
}

input[type=submit],
input[type=button],
input[type=reset],
button {
    margin: 5px;
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 5px 10px 5px;
    border-left: none;
    border-top: 2px solid #444442;
    border-bottom: 2px solid #444442;
    border-right: 2px solid #444442;
    color: #666666;
    cursor: pointer;
    user-select: none;
}

nav div ul form li input[type=email],
nav div ul form li input[type=password] {
    margin: 0;
    margin-top: 0.5px;
    padding: 2px 1px 2px 1px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: yellow;
    font-family: Logo;
    font-size: 11px;
}

nav div ul form li input[type=password] {
    margin: 0;
}

nav div ul form li button {
    margin: 0;
    font-size: 12px;
    border-top: none;
    border-bottom: none;
    background-color: #f3e03b;
    font-family: Logo;
    margin-top: 1px;
}

a {
    color: yellow;
}

.buttonlink {
     background: none !important;
     color: dimgray;
     border: none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}